.button {
    fill: var(--color-font-second);
    height: 45px;
    width: 45px;
}

.delete,
.purchased {
    bottom: 38px;
    right: -10px;
}

.delete {
    width: 60px;
}

.purchased,
.watch {
    width: 100px;
}

.watch {
    bottom: 38px;
    left: -10px;
}

.back {
    top: 38px;
    left: -10px;
}

.editing {
    top: 38px;
    right: 0;
}

.list,
.tile {
    top: 38px;
    left: -5px;
}
