.header {
  grid-row-start: 1;
  grid-row-end: 2;
}
.block_text {
  grid-row-start: 3;
  grid-row-end: 4;
}
.buttons_block {
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title{
  margin-bottom: 1rem;
}

@media (max-width: 450px) {
  .block_text{
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 1.5rem;
  }
  .buttons_block{
    flex-direction: column;
  }
}
