.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.block_title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 0.5fr 7fr 1fr;
  gap: 2rem;
  overflow: auto;
}

.main {
  padding: 1rem;
  grid-row-start: 2;
  grid-row-end: 3;
  overflow-y: auto;
  overflow-x: clip;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.main::-webkit-scrollbar {
  width: 5px;
}

.main::-webkit-scrollbar-track {
  background-color: #8c8c95;
  border-radius: 5px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #6893b0;
  border-radius: 4px;
}


.none__table {
  height: 45%;
  font-size: 20px;
  text-align: center;
}

.block__button {
  height: 2rem;
  display: flex;
}

@media (min-width: 890px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1250px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.svg {
  fill: var(--color-background-second);
}

.block_none {
  display: none;
}


