.title {
  margin-bottom: 1rem;
  text-align: center;
}

.block__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid darkgray;
}

.main {
  display: flex;
  flex-direction: column;
}

.block__meal {
  display: flex;
  border-bottom: 1px solid darkgray;
}

.meal__name {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block__recipe {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  border-left: 1px solid darkgray;
}

.text_btn {
  color: #5b08a7;
  cursor: pointer;
}

.text_btn:hover {
  text-decoration: underline;
}
