.card {
  position: relative;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  border: 1px solid #6893b0;
  overflow: hidden;
  box-shadow: 0 5px 10px 2px var(--color-background-transparency);
}

.card_checked {
  position: relative;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid #52abe7;
  overflow: hidden;
  box-shadow: 0 5px 10px 2px rgb(34 60 80 / 90%) inset;
}

.card__image_block {
  position: relative;
  height: 100%;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__name {
  padding: 0 0.5rem;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-background-transparency);
  color: #f6f6f6;
  transition: all 0.3s ease-in-out;
}

.card__title {
  font-size: 20px;
}

.card__block {
  display: none;
  height: 75%;
  overflow: hidden;
}

.card__text {
  height: 65%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__name:hover {
  background-color: var(--color-background-transparency-hover);
}

.card__name:hover .card__block {
  display: block;
}

.button__block {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
